:root {
  --cool-green: #56bcbf;
  --boot-purple: #5856bf;
  --nice-green: #56bf5a;
  --gray: hsl(197, 10%, 45%);
  --middle-gray: hsl(240, 6%, 92%);
  --light-gray: hsl(240, 6%, 97%);
  --light-blue: rgb(220,240,247);
  --accent: hsl(197, 100%, 44%);
  --accent-hover: hsl(197, 100%, 40%);
  --accent-active: hsl(197, 100%, 35%);
  --focus-shadow: 0px 0px 2px var(--accent);
  --focus-border: solid 1px var(--accent);
  --focus-border-inactive: solid 1px transparent;
  --max-width: 1000px;
  --transparent-white: hsla(0, 100%, 100%, 1);
  --red: rgb(249, 73, 73);
  --green: hsl(170, 90%, 44%);
}

body {
  color: var(--gray);
  background-color: var(--light-blue);
}

[data-reach-dialog-overlay] {
  background: none;
}

[data-reach-dialog-content] {
  box-shadow: 1px 1px 30px hsla(0, 0%, 0%, 0.15);
  border: solid 2px hsla(240, 6%, 70%);
  border-radius: 0.8rem;
  width: 800px;
  padding: 2.5rem;
}

nav {
  background-color: var(--boot-purple);
}

header {
  background-color: var(--cool-green);
}

.home {
  margin: 0 2rem;
  padding: 1rem 10rem;
}
.navbar {
  border-radius: 0;

}
.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.edNav {
  background-color: #5856bf;
}

.edPage {
  height: 100vh;
}

.sideNav {
  color: white;
}
.right {
  color: white;
}
.historyContainer {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.history-item {
  position: relative;

}

#title {
  position: absolute;
  top: 50%;

  width: 100%;
  margin: auto 0;
  color: var(--nice-green);
  font-weight: 500;
}
#title h3 {
  text-align: center;
}

@media (min-width: 1100px) {
  .historyContainer {
    padding-left: 100px;
    padding-right: 100px;
    width: 1100px;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ed-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--cool-green);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .thumbnail {
  border: none;
  text-align: center;
  background-color: white;
  padding: 35px 10px 25px 10px;
  height: 370px;
  margin: 10px -5px;
} */
.nav-link {
  background-color: var(--nice-green);
}
#text {
  color: black;
  text-align: left;
}

.history-item {
  background-size: cover;
  background-position: center;
  height: 370px;
  width: 370px;
  margin: 8px 25px;
  border: 5px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  /* border-radius: 50%; */

}

.history-item:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.1s;
}

/* TODO: Forgot what I was doing with this. Supposed to be container if the Images don't show up  */
.HistoryItemsShimmer {
  padding: 2rem;
  border-top: 1px solid var(--middle-gray);
  height: 16rem;
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 120% 100%;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}



.shake {
  animation: shake .5s 0.0125s;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    transform: translate(10px);
  }
}

@media (max-width: 750px) {
  .history-item {
    margin: 10px;
  }
}

@media (max-width: 500px) {
  .history-item {
    margin: 10px;
  }
}
